/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


// set list item spacer
.v-list-item__spacer {
    width: 15px !important;
}


// set app bar height and bg color
.v-toolbar__content {
    height: 48px !important;
    background-color: #f5f5f5 !important;
}


// set app bar bottom border
header.v-toolbar.v-toolbar--density-default.elevation-0.v-theme--light.v-locale--is-ltr.v-app-bar {
    border-bottom: 1px solid rgb(206, 206, 206);
}